/* Container cards  */

.container-home-cards {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
}

/* container cards images */

.container-home-cards > a > figure {
  height: 40vh;
  border-radius: 10%;
  position: relative;
  transition: transform 0.5s ease;
  margin-bottom: 4%;
}

.container-home-cards > a > figure:hover {
  box-shadow: black 0 0.7em 0.7em -0.2em;
  background-color: black;
  transform: translateY(-0.25em);
  transform: scale(1.1);
}

/* image cards */

.container-home-cards > a > figure > img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
  object-fit: cover;
}

/* Title image cards */

.container-home-cards > a > figure > figcaption {
  font-size: 32px;
  color: rgb(255, 255, 255);
  opacity: 60%;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-family: "Poetsen One", serif;
}
/* first card  */

.container-home-cards > a > figure > #first-card {
  position: absolute;
  top: 50%;
  left: 2%;
}

/* second card */

.container-home-cards > a > figure > #second-card {
  position: absolute;
  top: 25%;
  left: 10%;
}

/* third card */

.container-home-cards > a > figure > #third-card {
  position: absolute;
  top: 70%;
  left: 3%;
  opacity: 90%;
}

/* * RESPONSIVE */

@media screen and (max-width: 1024px) {
  .container-home-cards > a > figure {
    height: 25vh;
  }
  .container-home-cards > a > figure > figcaption {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .container-home-cards > a > figure {
    height: 20vh;
  }
  .container-home-cards > a > figure > figcaption {
    font-size: 16px;
  }
}

@media screen and (max-width: 425px) {
  .container-home-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
    margin: 0 auto;
  }
  .container-home-cards > a > figure {
    height: 28vh;
  }
  .container-home-cards > a > figure > figcaption {
    font-size: 24px;
  }
}

@media screen and (max-width: 320px) {
  .container-home-cards {
    width: 75%;
    padding: 2%;
    gap: 30px;
  }
  .container-home-cards > a > figure {
    height: 25vh;
  }
  .container-home-cards > a > figure > figcaption {
    font-size: 20px;
  }
}
