/* (Le body) */

.container-world-coffee {
  height: 100%;
  width: 100%;
  background-image: url(images/fond-world-coffee.jpg);
}

/* container barre de recherche */

.container-world-coffee > section {
  display: flex;
  justify-content: center;
  padding: 4%;
}

/* Barre de recherche */

.container-world-coffee > section > input {
  width: 40rem;
  height: 60px;
  border-radius: 15px;
  font-size: x-large;
  padding: 16px;
  font-style: oblique;
  border: solid black 2px;
  background-color: rgb(255, 223, 206);
}

/* Container World  */

.container-world-image {
  display: flex;
  justify-content: center;
}

.container-world-image > img {
  position: relative;
  z-index: 1;
  width: 80%;
  border-radius: 10px;
  border: solid white 2px;
  margin: 3% 10% 10% 10%;
}

/* Button map */

/* ? Button Colombie */

.container-world-image .colombie-button {
  z-index: 2;
  position: absolute;
  width: 50px;
  border-radius: 30px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.816);
  margin-top: 45em;
  margin-right: 50em;
  transition: 0.5s;

  img {
    display: none;
  }

  p {
    font-size: 10px;
  }
}

.container-world-image .colombie-button:hover {
  width: 80px;
  height: 80px;
  font-display: none;
  border-radius: 10px;
  transition: 0.5s;
  border: solid rgb(255, 255, 255) 2px;

  p {
    display: none;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}

/* ? Button Colombie click  */

.colombie-button-click {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 3;
  position: absolute;
  width: 400px;
  border-radius: 30px;
  height: 400px;
  background-color: rgb(255, 237, 237);
  margin-top: 28em;
  margin-right: 5em;
  transition: 0.5s;
}

.colombie-button-click > img {
  width: 80%;
  height: 60%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.colombie-button-click > p:first-child {
  font-size: 24px;
}

.colombie-button-click > p:last-child {
  width: 80%;
  height: 100%;
  text-align: justify;
  padding: 2%;
}

/* ? Button Grèce */

.container-world-image .grece-button {
  z-index: 2;
  position: absolute;
  width: 55px;
  border-radius: 30px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.816);
  margin-top: 35em;
  margin-left: 10em;
  transition: 0.5s;

  img {
    display: none;
  }

  p {
    font-size: 10px;
  }
}

.container-world-image .grece-button:hover {
  width: 80px;
  height: 80px;
  font-display: none;
  border-radius: 0;
  transition: 0.5s;
  border: solid rgb(0, 0, 0) 2px;
  border-radius: 10px;

  p {
    display: none;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}

/* ? Grèce button click */

.grece-button-click {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 3;
  position: absolute;
  width: 400px;
  border-radius: 30px;
  height: 400px;
  background-color: rgb(255, 237, 237);
  margin-top: 28em;
  margin-right: 5em;
  transition: 0.5s;
}

.grece-button-click > img {
  width: 80%;
  height: 60%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.grece-button-click > p:first-child {
  font-size: 24px;
}

.grece-button-click > p:last-child {
  width: 80%;
  height: 100%;
  text-align: justify;
  padding: 2%;
}

/* ? Button Vietnam */

.container-world-image .vietnam-button {
  z-index: 2;
  position: absolute;
  width: 55px;
  border-radius: 30px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.816);
  margin-top: 40em;
  margin-left: 60em;
  transition: 0.5s;

  img {
    display: none;
  }

  p {
    font-size: 10px;
  }
}

.container-world-image .vietnam-button:hover {
  width: 80px;
  height: 80px;
  font-display: none;
  border-radius: 0;
  transition: 0.5s;
  border: solid rgb(0, 0, 0) 2px;
  border-radius: 10px;

  p {
    display: none;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}

/* ? button click Vietnam */

.vietnam-button-click {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 3;
  position: absolute;
  width: 400px;
  border-radius: 30px;
  height: 400px;
  background-color: rgb(255, 237, 237);
  margin-top: 30em;
  margin-left: 20em;
  transition: 0.5s;
}

.vietnam-button-click > img {
  width: 80%;
  height: 60%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.vietnam-button-click > p:first-child {
  font-size: 24px;
}

.vietnam-button-click > p:last-child {
  width: 80%;
  height: 100%;
  text-align: justify;
  padding: 2%;
}

/* ? Button Indonesie */

.container-world-image .indonesie-button {
  z-index: 2;
  position: absolute;
  width: 55px;
  border-radius: 30px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.816);
  margin-top: 47em;
  margin-left: 65em;
  transition: 0.5s;

  img {
    display: none;
  }

  p {
    font-size: 10px;
  }
}

.container-world-image .indonesie-button:hover {
  width: 80px;
  height: 80px;
  font-display: none;
  border-radius: 0;
  transition: 0.5s;
  border-radius: 10px;
  border: solid rgb(0, 0, 0) 2px;

  p {
    display: none;
  }

  img {
    display: block;
    width: 100%;
    border-radius: 10px;
    height: 100%;
  }
}

/* ? Button click indonésie */

.indonesie-button-click {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 3;
  position: absolute;
  width: 400px;
  border-radius: 30px;
  height: 400px;
  background-color: rgb(255, 237, 237);
  margin-top: 30em;
  margin-left: 20em;
  transition: 0.5s;
}

.indonesie-button-click > img {
  width: 80%;
  height: 60%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.indonesie-button-click > p:first-child {
  font-size: 24px;
}

.indonesie-button-click > p:last-child {
  width: 80%;
  height: 100%;
  text-align: justify;
  padding: 2%;
}

/* ? Button Kenya */

.container-world-image .kenya-button {
  z-index: 2;
  position: absolute;
  width: 55px;
  border-radius: 30px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.816);
  margin-top: 46em;
  margin-left: 20em;
  transition: 0.5s;

  img {
    display: none;
  }

  p {
    font-size: 10px;
  }
}

.container-world-image .kenya-button:hover {
  width: 80px;
  height: 80px;
  font-display: none;
  border-radius: 0;
  transition: 0.5s;
  border: solid rgb(0, 0, 0) 2px;
  border-radius: 10px;

  p {
    display: none;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}

/* ? Button click Kenya */

.kenya-button-click {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  position: absolute;
  width: 400px;
  border-radius: 30px;
  height: 400px;
  background-color: rgb(255, 237, 237);
  margin-top: 30em;
  margin-left: 20em;
  transition: 0.5s;
}

.kenya-button-click > img {
  width: 80%;
  height: 60%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.kenya-button-click > p:first-child {
  font-size: 24px;
}

.kenya-button-click > p:last-child {
  width: 80%;
  height: 100%;
  text-align: justify;
  padding: 2%;
}
