/* for align two components listcoffees and filteredlist */
.container-central-coffeespages {
  width: 100vw;
  display: flex;
  margin-top: 20px;
  align-items: flex-start;
}

.container-central-coffeespages > :first-child {
  width: 10vw;
  font-size: 20px;
  margin-left: 20px;
}

.container-central-coffeespages > :last-child {
  width: 90vw;
}

@media screen and (max-width: 800px) {
  .container-central-coffeespages > :first-child {
    width: 20vw;
  }

  .container-central-coffeespages > :last-child {
    width: 80vw;
  }
}

@media screen and (max-width: 400px) {
  .container-central-coffeespages > :first-child {
    width: 30vw;
  }

  .container-central-coffeespages > :last-child {
    width: 70vw;
  }
}
