/* for align two components listcoffees and filteredlist */
.container-central-coffeespages {
  display: flex;
  margin-top: 20px;
  align-items: flex-start;
}

.container-central-coffeespages > :first-child {
  width: 20%;
}
