/* Container filtered aside */

.filters-container {
  display: flex;
  flex-direction: column;
}

.filters-container label {
  margin-left: 4px;
}

.list-filter {
  margin: 4px 0 10px 15px;
  list-style: none;
}

.list-filter > li {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 2.33px;
}

.list-filter > li > label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.60em;
}
