/* Container for list cards  */

#container-cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

/* Cards coffees  */

.list-coffee-item-container {
  width: 28%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0px 3px 5px 0px #452f2540;
  border-radius: 5px;
  padding: 10px 20px;
}

.list-coffee-item-container > img {
  width: 50%;
}

/* text cards coffees  */

#container-cards-list > a {
  text-decoration: none;
  color: black;
}

#container-cards-list a > section > h3 {
  font-weight: bold;
  font-size: medium;
}

#container-cards-list a > section > h5,
#container-cards-list a > section > h4 {
  font-weight: lighter;
}

/* Button location */

.container-button-listCoffees {
  grid-area: 6 / 3;
  display: inline-flex;
  gap: 10%;
  width: 100%;
}

/* Button style */

.container-button-listCoffees > button {
  cursor: pointer;
  width: 80px;
  border-radius: 20%;
}

@media screen and (max-width: 800px) {
  .list-coffee-item-container {
    width: 42%;
  }
}
@media screen and (max-width: 400px) {
  .list-coffee-item-container {
    width: 84%;
  }
}
