.preparation-steps-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 32px;
  padding: 16px;
  gap: 8px;
}
.idee-recette-tiramisu-title {
  text-align: center;
  margin: 8px;
  padding: 8px;
}

.preparation-title {
  padding: 32px;
}
