.main-recipe-tiramisu-page {
  display: flex;
}

/* Media Queries */

@media screen and (min-width: 320px) and (max-width: 480px) {
  .main-recipe-tiramisu-page {
    flex-wrap: wrap;
    display: flex;
  }
}
