/* * responsive Container Principal */

/* responsive 1024px laptop */

@media screen and (max-width: 1024px) {
  .container-latest-arrival {
    height: 50vh;
  }
}

/* responsive 768px tablette */
@media screen and (max-width: 768px) {
  .container-latest-arrival {
    height: 37vh;
  }
}

/*  responsive 425px Mobile L  */

@media screen and (max-width: 425px) {
  .container-latest-arrival {
    flex-direction: column;
    height: 70vh;
  }
}
/* responsive 320px Mobile S  */
@media screen and (max-width: 320px) {
  .container-latest-arrival {
    height: 65vh;
  }
}

/* * Image responsive */

/* responsive 1024px ordinateur portable */

@media screen and (max-width: 1024px) {
  .container-latest-arrival > img {
    margin: 2% 0% 2% 3%;
    width: 350px;
    height: 350px;
  }
}
/* responsive 768px Tablette */

@media screen and (max-width: 768px) {
  .container-latest-arrival > img {
    margin: 2% 0% 2% 3%;
    width: 250px;
    height: 250px;
  }
}

/* responsive 425px Mobile L  */

@media screen and (max-width: 425px) {
  .container-latest-arrival > img {
    margin: 20px auto;
    width: 90%;
  }
}

/* responsive 375px Mobile M */

@media screen and (max-width: 375px) {
  .container-latest-arrival > img {
    height: 70vw;
  }
}

/* * responsive Information latest arrival */

/* responsive 1024px ordinateur portable */

@media screen and (max-width: 1024px) {
  .container-text-latest-arrival {
    font-size: 16px;
    width: 100%;
  }
}

/* responsive 768px tablette */
@media screen and (max-width: 768px) {
  .container-text-latest-arrival {
    font-size: 12px;
  }
}

/* responsive 425px Mobile L */

@media screen and (max-width: 425px) {
  .container-text-latest-arrival {
    font-size: 13px;
    margin: 0 auto;
    padding: 10px;
  }
}

/* responsive 320px Mobile L */

@media screen and (max-width: 320px) {
  .container-text-latest-arrival {
    font-size: 12px;
    margin: 0 auto;
    padding: 10px;
  }
}

/* * responsive button  */

/* responsive 1024px tablette */
@media screen and (max-width: 1024px) {
  .container-text-latest-arrival > a > button {
    width: 9em;
    height: 2.5em;
  }
}

/* responsive 768px tablette */
@media screen and (max-width: 768px) {
  .container-text-latest-arrival > a > button {
    width: 8em;
    height: 2.5em;
  }
}
