/* * Affichage accueil title  */

.container-accueil-title {
  margin: -5px 0px;
}

.container-accueil-title > h1 {
  position: static;
  font-size: 56px;
  text-align: center;
  width: 40%;
  margin: -5% 30% auto;
  letter-spacing: 2px;
  color: #000000;
}

/* * Affichage Image Accueil */

.container-accueil-title > img:first-child {
  width: 100%;
  rotate: 180deg;
  border-bottom: solid black 5px;
}

.container-accueil-title > img {
  width: 100%;
  border-bottom: solid black 5px;
}

/* * Button  */

.container-accueil-title > div {
  display: flex;
  justify-content: center;
}

.container-accueil-title > div > a {
  position: absolute;
  margin-top: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  background-color: burlywood;
  border: none;
  width: 40px;
}

.container-accueil-title > div > a:hover {
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.24), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}
