body {
  background-color: #fdf8f6;
}
.coffee-detail-page {
  padding: 20px;
  font-family: Arial, sans-serif;
}


.content-container {
  display: flex;
  gap: 30px; 
  align-items: flex-start; 
  margin-bottom: 30px; 
}

.image-container {
  flex: 0 0 auto; 
  width: 200px;
  height: 400px;
  overflow: hidden;
}

.image-container img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

.text-container {
  flex: 2; 
}

.info-section {
  display: flex;
  flex-direction: column; 
  gap: 20px; 
  margin-top: 20px; 
}

.info-item {
  display: flex;
  justify-content: space-between; 
  font-size: 18px; 
  font-weight: normal;
}

.label {
  font-weight: bold; 
  margin-right: 


.value {
  color: #333; 
}
