@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

body {
  background-color: #fdf8f6;
}

h1,
h2,
h3,
p,
section {
  font-family: "Poetsen One", sans-serif;
}

.coffee-detail-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10%;
}

.content-container {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  margin-bottom: 30px;
}

.image-container {
  border-radius: 20px;
  flex: 0 0 auto;
  width: 100%;
  max-width: 300px;
  height: auto;
  overflow: hidden;
  position: relative;
}

.image-container img {
  width: 300px;
  height: 500px;
  object-fit: cover;
}

.text-container {
  width: 100%;
  margin-top: 20px;
}

.info-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.info-item {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: normal;
}

.label {
  font-weight: bold;
  margin-right: 10px;
}

/* Section map + nouvelle section avec les images et la card */
.section-with-map-and-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 40px;
  width: 100%;
}

/* Pour l'image de la carte */
.map-container .extra-info .card-container {
  flex: 1;
  text-align: center;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.world-map {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.map-container .vietnam-map-hover {
  position: absolute;
  border-radius: 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0; /* Par défaut, on cache l'image */
  transition: opacity 0.3s ease;
  z-index: 2; /* L'image de survol doit être au-dessus de la carte de base */
}

.map-container:hover .vietnam-map-hover {
  opacity: 1;
}

.extra-info {
  display: flex;
  gap: 20px;
  align-items: center;
  flex: 2;
  position: relative;
}

.coffee-grain {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.coffee-grain img,
.coffee-leaves img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.coffee-leaves {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 300px;
  height: 300px;
  opacity: 0.1;
  z-index: 1;
}

/* Card container */
.card-container {
  z-index: 5;
  background-color: transparent;
  margin-left: 50px;
}

.card {
  display: inline-block;
  border-radius: 15px;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 150px;
  height: 150px;
  cursor: pointer;
  transition: transform 0.3s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: transparent;
}

.card:hover {
  transform: scale(1.05);
}

.card-link {
  text-decoration: none;
  color: #333;
  background-color: transparent;
}

.card h3 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

/* Container pour les 4 nouvelles cartes */
.cards-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-top: 40px;
}

/* Card individuel avec image */
.card-region {
  background-color: white;
  display: inline-block;
  border-radius: 15px;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 200px;
  height: 200px;
  cursor: pointer;
  transition: transform 0.3s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-region img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 12px;
}

.card-region h3 {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}

.card-region:hover {
  transform: scale(1.05);
}

.card-region-link {
  text-decoration: none;
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .image-container {
    width: 100%;
    max-width: 100%;
  }

  .image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .text-container {
    width: 100%;
  }

  .section-with-map-and-info {
    flex-direction: column;
    align-items: center;
  }

  .extra-info {
    flex-direction: column;
    gap: 20px;
  }

  .coffee-grain,
  .coffee-leaves {
    display: none;
  }

  .card-container {
    display: block;
    width: 100%;
    text-align: center;
  }

  .world-map {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .card-region {
    width: 100%;
    max-width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
  }

  .card-region img {
    width: 80%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }

  .card-region h3 {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
  }
}
