@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

body,
h1,
h2,
h3,
p,
section {
  background-color: #fdf8f6;
  font-family: "Poetsen One", sans-serif;
}

.coffee-detail-page {
  padding: 10%; /* Réduit le padding global pour éviter trop d'espace */
}

.content-container {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  margin-bottom: 30px;
}

.image-container {
  border-radius: 20px;
  flex: 0 0 auto;
  width: 300px;
  height: 500px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-container {
  flex: 2;
}

.info-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.info-item {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: normal;
}

.label {
  font-weight: bold;
  margin-right: 10px;
}

/* Section map */

.map-container {
  margin-top: 40px;
  text-align: center;
}

.world-map {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 100 auto;
  display: block;
}

/* Coffee Grain */

.coffee-grain {
  margin-top: 40px;
  text-align: center;
  width: 400px;
  height: 300px;
  object-fit: cover;
  margin: 100 auto;
  display: block;
}

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    gap: 20px;
  }
  .image-container {
    width: 100%;
    height: auto;
  }
  .world-map {
    width: 100%;
    height: auto;
  }
}
