.ingredients-list-container {
  display: flex;
  width: 20%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #a27c67;
  padding: 16px;
}

.ingredients-list-title {
  margin: 8px;
  border-bottom: 1px solid #452f25;
  padding: 16px;
  padding-bottom: 3px;
  align-items: center;
  color: #452f25;
}

.tiramisu-ingredients-list {
  width: 55%;
  margin: 32px;
}

.ingredients-list {
  margin-bottom: 100px;
  padding: 32px;
  padding-top: 16px;
  padding-bottom: 32px;
}

.el-list-ingredients {
  padding: 8px;
  color: #452f25;
}

/* Media Queries */

@media screen and (min-width: 320px) and (max-width: 767px) {
  .ingredients-list-container {
    width: 100%;
    background-color: #ffffff;
    padding: 8px;
  }

  .ingredients-list-container > img {
    display: none;
  }

  .ingredients-list-title-section {
    width: 100%;
  }

  .ingredients-list-title-section > h2 {
    /*margin: 8px;*/
    border: 1px solid #452f25;
    padding: 16px;
    align-items: center;
  }

  .ingredients-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  .ingredients-list-title {
    margin: 8px;
    border: 1px solid #452f25;
    padding: 16px;
    align-self: flex-start;
  }
}
