.preparation-steps-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 32px;
  padding: 16px;
  gap: 8px;
  list-style-type: none;
  counter-reset: elementcounter;
  padding-left: 0;
}

.idee-recette-tiramisu-title {
  text-align: center;
  width: 95%;
  margin: 8px;
  padding: 8px;
}

.preparation-title {
  text-align: center;
}

.number-of-step:before {
  content: "Étape " counter(elementcounter) ". ";
  counter-increment: elementcounter;
  font-weight: bold;
}

/* Media Queries */

@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-preparation-steps-container {
    width: 100%;
    margin: 8px;
  }

  .idee-recette-tiramisu-title {
    margin: 32px;
  }

  .text-and-video-tiramisu-sections {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 16px;
  }

  .text-and-video-tiramisu-sections > h2 {
    margin: 8px;
    border: 1px solid #452f25;
    padding: 16px;
    align-items: center;
  }
  .preparation-title {
    margin: 32px;
  }

  .preparation-steps-list {
    display: flex;
    width: 100%;
  }

  .number-of-step:before {
    content: "" counter(elementcounter) " ";
    counter-increment: elementcounter;
    font-weight: bold;
  }

  .number-of-step > p {
    margin-top: 16px;
  }
}
