.body-recipe-page {
  color: #452f25;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin: auto;
}

.recipe-page-api-title {
  text-align: center;
  margin: 16px;
  padding: 16px;
}
.main-recipe-page-card {
  display: flex;
}

/* Media Queries */

@media screen and (min-width: 320px) and (max-width: 767px) {
  .body-recipe-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .recipe-page-api-title {
    flex-basis: content;
    flex-wrap: wrap;
    margin: auto;
    padding: 16px;
  }

  .prep-steps-and-video-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
