.body-recipe-page {
  color: #452f25;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin: auto;
}

.recipe-page-api-title {
  text-align: center;
  margin-top: 16px;
}
.main-recipe-page-card {
  display: flex;
}

/* containee queries */

/*
.recipe-components {
  display: flex;
  width: 100%;
}

.ingredients-list-section {
  width: 30%;
}

.prep-steps-and-video-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}
*/
/* Media Queries */

@media screen and (min-width: 320px) and (max-width: 767px) {
  .body-recipe-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .recipe-page-api-title {
    flex-basis: content;
    flex-wrap: wrap;
  }
}
