footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(253, 241, 226);
  margin-top: 1%;
}

.copyright-footer {
  font-family: "Poetsen One", sans-serif;
  text-align: center;
  margin: 32px;
  color: #452f25;
}

/* Media Queries */
